################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConfArch.Data/obj
/ConfArch.Web/obj/Debug/netcoreapp3.1
/ConfArch.Web/obj
/ConfArch.Web/bin/Debug/netcoreapp3.1
/ConfArch.Data/bin/Debug/netstandard2.0
/.vs/ConfArch.Web/v17
/.vs/ConfArch.Web
/.vs/01_Authentication_and_Authorization_in_ASP.NET_Core/v17
/.vs
